* {
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
}
.my-img-small {
	width: 15%;
	height: auto;
}

.my-img40 {
	width: auto;
	height:10%;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
	float: left;
	padding: 0.938em;
}

hmtl {
	font-family: "Lucida Sans", sans-serif;
} 
.header {
	background-color: #c1d5f4;
	color: #ffffff;
	padding: 0.938em;
}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li {
	padding: 0.500em;
	margin-bottom: 0.438em;
	background-color: #A1D490;
	color: #ffffff;
	box shadow: 0 0,638em 0.2em rgba(0,0,0,0.12), 0 0.638em 0.2em 0.638em 0.2em rgba(0,0,0,0.24); 
}
.list1 {width: 120px;}
.menu li:hover {
	background-color: #42D46D;
}
.aside {
	background-color: #33b5e5;
	padding: 0.938em;
	color: #ffffff;
	text-align: center;
	font-size: 0.835;
	box-shadow: 0 0.063em 0.188em rgba(0,0,0,0.12), 0 0.063em 
}
.footer {
	background-color: #0099cc;
	color: #ffffff;
	text-align: center;
	font-size: 0.750em;
	padding: 0.938em;
}

/*For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1{width: 8.33%;}
	.col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
	.col-12{width: 100%;}	
}
			
			
